@import url(http://fonts.googleapis.com/css?family=Rum+Raisin);
@import url("reset.css");

/* CSS Document */

h1{

margin: 0 0 24px;
text-align: center;
font-size: 36px;
line-height: 130px;
font-weight: bold;

}

/* Glyph, by Harry Roberts */
		
hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/* End Glyph, by Harry Roberts */
h2{
	text-align:center;
	font-size: 30px;
	line-height: 60px;
	font-weight:bold;
}

body {
	background:#ecf0f1;
	color:#34495E;
	font-family: 'Rum Raisin', sans-serif;
}


.content{
	width:960px;
	margin:0 auto;
}



.number{
margin: 20px auto;
text-align:center;

}

#guess{
	width: 200px;
	display:block;
	margin: 0 auto;
	
	
	
}
.align-form{
	
	text-align:center;
	}
#submit{
	

	margin: 10px auto;
	}
#reset{
	

	margin: 10px auto;
}

